.address {
  background: $basic-yellow;
}

.address__wrapper {
  @include wrapper;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 128px;
    margin: 0 75px;
    padding-bottom: 84px;
  }
}

.address__address {
  @include font(16px, 22px, 700, $basic-blue-light);
  text-transform: uppercase;
  padding-left: 61px;
  position: relative;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 64px;
    padding-left: 94px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    top: 0;
    left: 0;
    background-image: url("../../img/svg/icon_location.svg");
    background-position: center;
    background-size: 21px;
    background-repeat: no-repeat;
    background-color: $special-blue;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 68px;
      height: 68px;
      background-size: 31.73px;
      top: -20px;
    }
  }
}

.address__button {
  border: 3px solid $basic-blue;
  padding: 18px 21px 20px 20px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    padding: 24px 34px 26px 34px;
  }

  &:hover,
  &:focus {
    background-color: $basic-blue;
    color: $basic-white;

    &::after {
      border-color: transparent transparent transparent $basic-white;
    }
  }

  &:active {
    color: rgba($basic-white, 0.3);
  }
}
