.body__header {
  z-index: 2;
  position: relative;
  margin-bottom: 17px;
}

.body__site-list {
  margin-bottom: 54px;

  @media (min-width: $tablet-width) {
    margin-bottom: 90px;
  }
}

@media (min-width: $tablet-width) {
  .user {
    margin-bottom: 109px;
  }
}

.body__social {
  margin: 14px 84px 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 36px;
  }
}

.body__main-title {
  z-index: 1;
  position: relative;
  margin: 0 40px;

  @media (min-width: $tablet-width) {
    margin: 0 103px;
  }
}

.body__quote {
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: -409px;
  }
}

.body__tips {
  margin-top: -80px;
}

.body__about {
  position: relative;
  z-index: 6;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet-width) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.body__direction {
  position: relative;
  z-index: 5;
  margin-top: -20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet-width) {
    margin-top: -60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.body__companion {
  position: relative;
  z-index: 4;
  margin-top: -25px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet-width) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.body__profile-rate {
  position: relative;
  z-index: 3;
  margin-top: -25px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet-width) {
    margin-top: -60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.body__info {
  position: relative;
  z-index: 2;
  margin-top: -25px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet-width) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.body__address {
  position: relative;
  margin-top: -41px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet-width) {
    margin-top: -60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.body__map {
  margin-top: -25px;
}

.body__footer {
  position: relative;
  margin-top: -30px;
  z-index: 4;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  @media (min-width: $tablet-width) {
    margin-top: -95px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}

.body__footer-social {
  margin: 0;
  margin-bottom: 45px;
}

.body__profile-plan {
  position: relative;
  margin-top: 14px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 2;
}

.body__create-plan {
  position: relative;
  margin-top: -20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 3;
}

.body__filter-country {
  position: relative;
  margin-top: -45px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.body__filter-companion {
  margin-top: 21px;
  border-radius: 20px;
}

.body__modal {
  margin: 0 25px;
  margin-top: 20px;
  position: fixed;
  top: 25%;
  z-index: 10;
}

.body__card {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 20px;
  }
}

.body__level {
  position: absolute;
  top: 17px;
  left: 17px;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 20px;
    left: 23px;
  }
}

.body__countries {
  order: 1;
}

.body__tags {
  margin-bottom: 15px;
  order: 3;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }
}

.body__tooltip {
  position: absolute;
  top: 135%;
  right: -54px;
  z-index: 8;
}

.body__transport {
  order: 4;
}
