.button {
  @include font(18px, 18px, 700, $basic-blue-light);
  background-color: $basic-yellow;
  border-radius: 10px;
  padding: 20px;
  border: none;
  display: flex;
  justify-content: space-between;

  &::after {
    content: "";
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 1px 6px 10px;
    border-color: transparent transparent transparent $basic-blue-light;

    @media (min-width: $tablet-width) {
      padding-top: 1px;
      align-self: center;
    }
  }

  &:hover,
  &:focus {
    background-color: $special-yellow-dark;
  }

  &:active {
    color: rgba($color: $basic-blue-light, $alpha: 0.3);
  }

  &:active::after {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    @include font(24px, 24px, 700, $basic-blue-light);
    padding: 27px 35px 29px 33px;
    border-radius: 20px;
  }
}
