.calendar {
  margin-top: 27px;
}

.calendar__month {
  @include font(20px, 20px, 700, $basic-blue-light);
  display: flex;
  justify-content: space-between;
  border: 1px solid $special-border-dark;
  border-color: $special-border-dark transparent $special-border-dark transparent;
  padding: 10px 0 12px;
  margin-bottom: 21px;
}

.calendar__month-button {
  border: none;
  background: center center no-repeat transparent;
}

.calendar__month-button--previous {
  background-image: url("../../img/svg/arrow-back.svg");
}

.calendar__month-button--next {
  background-image: url("../../img/svg/arrow-next.svg");
}

.calendar__weekdays-list {
  @include list-none;
  @include font(14px, 18px, 400, $special-grey);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 8px;
}

.calendar__weekdays-item--weekend {
  color: $basic-orange-dark;
}

.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 22px;
}

.calendar__days-item {
  @include font(14px, 18px, 500, $basic-blue-light);
  background-color: $bg-light-blue;
  border: 0.5px solid $special-border;
  border-radius: 0;
  padding: 5px 7px 6px;
}

.calendar__days-item--disable {
  @include font(14px, 18px, 400, rgba($special-grey, 0.3));
  border-color: $special-border-dark;
  background-color: transparent;
}

.calendar__days-item--today {
  border: 2px solid $basic-orange-dark;
  padding: 5px 6px;
}

.calendar__days-item--current {
  background-color: $basic-blue-light;
  color: $basic-white;
}
