.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  position: relative;
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 20px;
  }
}

.card:hover .card__photo {
  transform: scale(1.005);
}


.card__photo {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__wrapper {
  background-color: $basic-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 35px;
  padding-bottom: 18px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__title {
  margin: 0;
  margin-bottom: 12px;
  order: 2;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    width: 6px;
    height: 6px;
    background: $card-offline;
    border-radius: 50px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__name {
  @include font(21px, 21px, 700, $basic-blue-light);
}

.card-countries {
  @include list-none;
  display: flex;
  order: 1;
  margin-top: -37px;
  margin-bottom: 9px;
}

.card-countries__item {
  position: relative;
  padding-right: 20px;

  &:last-child {
    padding: 0;
  }
}

.card-countries__flag {
  border-radius: 4px;
}

.card-countries__item:hover .card-countries__tooltip {
  visibility: visible;
}

.card-countries__tooltip {
  width: 140px;
  left: 50%;
  margin-left: -75px;
  right: 0;
}

.tags {
  @include list-none;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  order: 3;
}

.tags__link {
  @include font(16px, 16px, 400, $special-grey);
  padding-right: 3px;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  top: 135%;
  right: -54px;
  background-color: $special-blue-dark;
  color: white;
  border-radius: 4px;
  text-align: center;
  padding: 16px 21px 19px 20px;
  z-index: 8;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    right: 47%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid $special-blue-dark;
  }
}
