.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  position: relative;
}

.card:hover .card__photo {
  transform: scale(1.005);
}

.card__photo {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  @media (min-width: $tablet-width) {
    width: 285px;
    height: 286px;
  }
}

.card__wrapper {
  background-color: $basic-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 35px;
  padding-bottom: 18px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -4px;

  @media (min-width: $tablet-width) {
    padding: 30px 32px 23px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.card__title {
  margin: 0;
  margin-bottom: 12px;
  order: 2;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    width: 6px;
    height: 6px;
    background: $card-offline;
    border-radius: 50px;

    @media (min-width: $tablet-width) {
      width: 8px;
      height: 8px;
      left: -21px;
      top: 9px;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.card--online .card__title::before {
  background: $card-online;
}

.card__name {
  @include font(21px, 21px, 700, $basic-blue-light);

  @media (min-width: $tablet-width) {
    @include font(24px, 22px, 700, $basic-blue-light);
  }
}
