.choose-country__block {
  position: relative;
  margin-bottom: 22px;

  &::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 11px;
    top: 48px;
    right: 47px;
    background: url("../../img/svg/Arrow.svg") center center no-repeat;
  }

  &:last-of-type {
    margin-bottom: 25px;

    &::before {
      content: none;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 53px;
    height: 42px;
    top: 0;
    right: 0;
    border: 1px solid $special-border;
    border-radius: 4px;
    background-size: 35px 24px;
    background-color: $basic-white;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.choose-country__block--bosnia::after {
  background-image: url("../../img/flags/Bosnia.jpg");
}

.choose-country__block--czech::after {
  background-image: url("../../img/flags/Czech.jpg");
}

.choose-country__block--none::after {
  content: none;
}

.choose-country__button {
  @include font(14px, 18px, 500, $basic-blue-light);
  font-family: inherit;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid $special-border;
  padding: 11px 9px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: start;
  position: relative;
  width: 168px;
  white-space: nowrap;

  &--none,
  &--close,
  &:disabled {
    width: 100%;
    padding: 11px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 16px;
    right: -4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $basic-blue-light;
    z-index: 8;
  }

  &--none::before,
  &:disabled::before {
    border: 1px solid $special-border;
    background-color: transparent;
    right: 48px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 1px;
    right: 0;
    width: 52px;
    height: 36px;
    background: url("../../img/svg/arrow-down.svg") 26px 11px no-repeat, linear-gradient(to right, transparent, $basic-white 30%);
  }

  &:disabled {
    background-color: $bg-light-blue;
    border: none;
    padding: 12px;

    &::after {
      background: url("../../img/svg/icon_plus.svg") 26px 11px no-repeat;
    }
  }
}

.choose-country__button:hover {
  border-color: $inner-border;
}

.choose-country__button--close {
  background-color: $basic-blue-light;
  border: none;
  color: $basic-white;
  padding: 12px 16px;
  letter-spacing: 0.02em;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  &::before {
    content: none;
  }

  &::after {
    background: url("../../img/svg/icon_close.svg") center center no-repeat;
    width: 10px;
    height: 10px;
    top: 16px;
    right: 15px;
    opacity: 0.3;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
  }

  &:active::after {
    opacity: 0.1;
  }
}

.choose-country__delete {
  visibility: visible;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: $bg-light-blue;
  border-radius: 50%;
  border: none;
  width: 21px;
  height: 21px;
  z-index: 8;

  &::after,
  &::before {
    position: absolute;
    content: "";
    top: 9px;
    left: 6px;
    height: 1px;
    width: 9.5px;
    background-color: $icon-close;
    opacity: 0.3;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &::before {
    transform: rotate(45deg);
  }
}

.choose-country__menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: $basic-white;
  border-radius: 4px;
  box-shadow: 0 2px 16px rgba(212, 217, 235, 0.25);
}

.choose-country__block--open {
  .choose-country__delete {
    visibility: hidden;
  }

  .choose-country__menu {
    display: block;
  }
}
