.choosen-country__title {
  @include font(18px, 18px, 500, $basic-blue-light);
  position: relative;
  margin: 0;
  margin-bottom: 15px;
  padding: 2px 11px;

  &::after {
    position: absolute;
    content: "";
    width: 78px;
    height: 24px;
    top: -1px;
    right: 0;
  }

  &--bosnia::after {
    background: url("../../img/flags/Bosnia.jpg") right center / 35px 24px no-repeat, linear-gradient(to right, transparent, #ffffff 30%);
  }

  &--czech::after {
    background: url("../../img/flags/Czech.jpg") right center / 35px 24px no-repeat, linear-gradient(to right, transparent, #ffffff 30%);
  }
}

.choosen-country__area {
  @include font(16px, 22px, 400, $special-grey);
  border: 1px solid $special-border;
  resize: none;
  width: 220px;
  height: 220px;
  padding: 7px 13px;
  margin-bottom: 21px;
  border-radius: 4px;

  &:placeholder {
    color: rgba($special-grey, 0.3);
  }

  &:hover {
    border-color: $inner-border;
  }

  &:focus {
    border-color: $bg-blue;

    &::placeholder {
      opacity: 1;
    }
  }

  &:invalid {
    border-color: $special-border-invalid;
  }
}
