.companion {
  background: url("../../img/companion_bg.png") left 59px no-repeat $basic-blue;
  margin-top: -25px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-bottom: 31px;
  position: relative;
  z-index: 4;

  &__title,
  &__desc,
  &__tagline {
    padding: 0 24px;
  }
}

.companion__wrapper {
  padding-top: 91px;
  display: flex;
  flex-direction: column;
}

.companion__desc {
  padding-right: 30px;
}

.companion__tagline {
  margin-bottom: 56px;
}

.companion__list,
.card {
  @include list-none;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.16));
}

.card:hover {
  transform: scale(1.005);
}

.companion__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 20px;
  }
}

.level {
  position: absolute;
  top: 17px;
  left: 17px;
  background-color: rgba($basic-black, 0.6);
  border: 4px solid $basic-orange;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-self: start;
  align-items: center;

  &::after {
    position: absolute;
    content: "";
    background: url("../../img/Ellipse-99.png");
  }
}

.level__nubmer {
  @include font(24px, 24px, 700, $basic-white);
  margin: 9px 13px 0;
  position: relative;
  padding-bottom: 2px;

  &::after {
    position: absolute;
    content: "";
    background-color: rgba($basic-white, 0.3);
    height: 1px;
    width: 30px;
    bottom: 2px;
    right: -2px;
  }
}

.level__text {
  @include font(14px, 14px, 400, $basic-white);
  margin-bottom: 2px;
}


.card__photo {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__wrapper {
  background-color: $basic-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 35px;
  padding-bottom: 16px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__title {
  margin: 0;
  margin-bottom: 12px;
  order: 2;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    width: 6px;
    height: 6px;
    background: $card-offline;
    border-radius: 50px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}


.card__name {
  @include font(21px, 21px, 700, $basic-blue-light);
}

.card-countries {
  @include list-none;
  display: flex;
  order: 1;
  margin-top: -37px;
  margin-bottom: 9px;
}

.card-countries__item {
  position: relative;
  padding-right: 20px;

  &:last-child {
    padding: 0;
  }
}

.card-countries__flag {
  border-radius: 4px;
}

.card-countries__item:hover .card-countries__tooltip {
  visibility: visible;
}

.tags {
  @include list-none;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  order: 3;
}

.tags__link {
  @include font(16px, 16px, 400, $special-grey);
  padding-right: 3px;
}


.transport {
  @include list-none;
  display: flex;
  justify-content: center;
  order: 4;
}


.transport__item {
  padding-right: 8px;
  position: relative;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  top: 135%;
  right: -54px;
  z-index: 15;
  background-color: $special-blue-dark;
  color: white;
  border-radius: 4px;
  text-align: center;
  padding: 16px 21px 19px 20px;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    right: 47%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid $special-blue-dark;
  }
}

.card-countries__tooltip {
  width: 140px;
  left: 50%;
  margin-left: -75px;
  right: 0;
}

.transport__item:nth-child(2) .transport__tooltip {
  right: -67px;
  padding-left: 25px;
  padding-right: 24px;
}

.transport__item:nth-child(3) .transport__tooltip {
  right: -43px;
}

.transport__item:last-child .transport__tooltip {
  right: -34px;
  padding-left: 23px;
  padding-right: 22px;

  &::before {
    right: 46%;
  }
}

.transport__item:hover .transport__tooltip {
  visibility: visible;
}

.transport__icon--disable path {
  opacity: 0.15;
}

.companion__button {
  padding: 21px 24px 22px;
}
