.copyright {
  margin: 0 25px;
  align-self: flex-start;
  padding-top: 13px;
  width: 270px;
  border-top: 1px solid $basic-grey-light;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.copyright__link,
.copyright__text {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  @include font(16px, 16px, 400, $special-grey);
  margin: 0;
  padding-top: 8px;
}
