.create-plan {
  background: $bg-blue-dark;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 3;
  position: relative;
  margin-top: -20px;
  padding-top: 28px;
  padding-bottom: 40px;
}

.create-plan__heading {
  display: flex;
  justify-content: space-between;
  margin-right: 18px;
  margin-bottom: 31px;
}

.create-plan__title {
  margin: 0;
}
