.direction {
  background: $bg-light-blue;
  margin-top: -20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-bottom: 34px;
}

.direction__wrapper {
  padding-top: 89px;
  display: flex;
  flex-direction: column;
}

.direction__title {
  padding: 0 25px;
}

.direction__desc {
  color: $special-grey;
  padding-left: 26px;
  padding-right: 45px;
  margin-bottom: 61px;
}

.direction__list {
  @include list-none;
  margin-bottom: 15px;
}

.direction__item {
  margin-bottom: 11px;

  &:nth-child(2) {
    margin-bottom: 10px;
  }

  &:last-child {
    margin-bottom: 12px;
  }
}

.direction__image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.direction__item-wrapper {
  padding: 24px 24px;
  padding-bottom: 25px;
  background-color: $basic-white;
  margin-top: -14px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.direction__name {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  flex-shrink: 1;
}

.direction__name::before {
  position: absolute;
  content: "";
  top: -13px;
  left: 25px;
  width: 35px;
  height: 24px;
  border-radius: 3px;
}

.direction__name--thailand::before {
  background: url("../../img/flags/Thailand.jpg") no-repeat;
}

.direction__name--france::before {
  background: url("../../img/flags/France.jpg") no-repeat;
}

.direction__name--czech::before {
  background: url("../../img/flags/Czech.jpg") no-repeat;
}

.direction__tagline,
.direction__companion {
  @include font(16px, 18px, 500, $special-grey);
  margin: 0;
  opacity: 0.3;
  order: 3;
}

.direction__companion {
  order: 2;
  flex-shrink: 2;
  padding-top: 4px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    top: 6px;
    left: -19px;
    background: url("../../img/svg/icon_user.svg") no-repeat;
    opacity: 0.3;
  }
}

.direction__button {
  padding: 22px 23px;
}
