.filter-country {
  background-color: $bg-blue-filter;
}

.filter-country__wrapper {
  @include wrapper;
  padding-top: 62px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filter-country__title {
  @include font(16px, 18px, 700, $basic-blue);
  text-transform: uppercase;
  padding-left: 27px;
  position: relative;
  margin: 0;

  &::after {
    position: absolute;
    content: "";
    top: 4px;
    left: 0;
    width: 15px;
    height: 10px;
    background: url("../../img/svg/icon_filter.svg") center center no-repeat transparent;
  }
}

.filter-country__expand {
  align-self: center;
  border: none;
  background-color: transparent;
  display: flex;
  margin-top: -2px;
  margin-right: -2px;
  cursor: pointer;

  &::after {
    content: "";
    position: relative;
    background-color: $basic-blue;
    border-radius: 50%;
    width: 3px;
    height: 3px;
  }

  &::before {
    content: "";
    position: relative;
    background-color: $basic-blue;
    border-radius: 50%;
    width: 3px;
    height: 3px;
  }

  &--active {
    &::before,
    &::after {
      width: 17px;
      height: 2px;
      top: -1px;
      border-radius: 4px;
    }

    &::before {
      transform: rotate(45deg);
      right: -17px;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.filter-country__elipse {
  border-radius: 50%;
  background-color: $basic-blue;
  width: 3px;
  height: 3px;
  margin: 0 4px;
}

.filter-country__expand--active .filter-country__elipse {
  display: none;
}
