.footer-social {
  @include list-none;
  display: flex;
  margin: 0;
  margin-bottom: 31px;
  align-self: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.footer-social__item:first-child,
.footer-social__item:nth-child(2),
.footer-social__item:last-child {
  margin: 0;
  padding: 0;
}

.footer-social__item:last-child {
  padding-top: 2px;
}

.footer-social__button {
  svg {
    width: 45px;
    height: 44px;

    @media (min-width: $tablet-width) {
      width: 62px;
      height: 62px;
    }
  }

  circle {
    fill: $basic-yellow;

    &:hover,
    &:focus {
      fill: $special-yellow-dark;
    }
  }

  &:active .logo {
    fill-opacity: 0.3;
  }
}
