.page-footer {
  background: $basic-white;
  margin-top: -103px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-bottom: 15px;
  position: relative;
  z-index: 1;
  padding-top: 37px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  margin-bottom: 49px;
}

.footer-social__list {
  margin: 0;
  margin-bottom: 45px;
}

.footer-social__item:first-child,
.footer-social__item:nth-child(2),
.footer-social__item:last-child {
  margin: 0;
  padding: 0;
}

.footer-social__item:last-child {
  padding-top: 2px;
}

.footer-social__button {
  background-color: $basic-yellow;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: $special-yellow-dark;
    opacity: 1;
  }

  &:active path {
    opacity: 0.3;
  }
}

.footer-social__button--facebook {
  padding: 14px 17px 6px;
}

.footer-social__button--vk {
  padding: 11px;
  padding-top: 10px;
}

.footer-social__button--insta {
  padding: 12px 14px 8px;
}

.copyright {
  align-self: flex-start;
  padding-top: 13px;
  width: 100%;
  border-top: 1px solid $basic-grey-light;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.copyright__link,
.copyright__text {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  @include font(16px, 16px, 400, $special-grey);
  margin: 0;
  padding-top: 8px;
}
