.page-body {
  margin: 0 auto;
}

.page__header {
  z-index: 2;
  position: relative;
}

.page__site-list {
  margin-bottom: 54px;
}

.page__social {
  margin: 14px 84px 20px;
}

.page__main-title {
  z-index: 1;
  position: relative;
  margin: 0 40px;
}

.page__quote {
  position: relative;
}

.page__tips {
  margin-top: -80px;
}

.page__about {
  position: relative;
  z-index: 6;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.page__direction {
  position: relative;
  z-index: 5;
  margin-top: -20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.page__companion {
  position: relative;
  z-index: 4;
  margin-top: -25px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.page__profile-rate {
  position: relative;
  z-index: 3;
  margin-top: -25px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.page__info {
  position: relative;
  z-index: 2;
  margin-top: -25px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.page__address {
  position: relative;
  margin-top: -41px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.page__map {
  margin-top: -50px;
  margin-bottom: 50px;
}

.page__footer {
  position: relative;
  margin-top: -103px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 4;
}

.page__footer-social {
  margin: 0;
  margin-bottom: 45px;
}

.page__profile-plan {
  position: relative;
  margin-top: 14px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 2;
}

.page__create-plan {
  position: relative;
  margin-top: -20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 3;
}

.page__filter-country {
  position: relative;
  margin-top: -45px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.page__filter-companion {
  margin-top: 21px;
  border-radius: 20px;
}

.page__modal {
  margin: 0 25px;
  margin-top: 20px;
  position: fixed;
  top: 25%;
  z-index: 10;
}

.page__card {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 20px;
  }
}

.page__level {
  position: absolute;
  top: 17px;
  left: 17px;
  border-radius: 50%;
}

.page__countries {
  order: 1;
  margin-top: -37px;
  margin-bottom: 9px;
}

.page__tags {
  margin-bottom: 15px;
  order: 3;
}

.page__tooltip {
  position: absolute;
  top: 135%;
  right: -54px;
  z-index: 8;
}

.page__transport {
  order: 4;
}
