.main-nav {
  padding: 17px 26px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 45px 40px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.page-header--active .main-nav {
  padding: 25px;

  @media (min-width: $tablet-width) {
    padding: 45px 40px;
  }
}

.main-nav__logo-img {
  display: block;

  img {
    width: 96px;
    height: 100%;

    @media (min-width: $tablet-width) {
      width: 166px;
    }
  }
}

.main-nav__logo-img--active {
  display: none;

  img {
    width: 100px;
    height: 100%;

    @media (min-width: $tablet-width) {
      width: 164px;
      height: 42px;
    }
  }
}

.page-header--active {
  .main-nav__logo-img {
    display: none;
  }

  .main-nav__logo-img--active {
    display: block;
  }
}

.main-nav__toggle {
  display: block;
  position: relative;
  width: 25px;
  height: 11px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    background-color: $basic-white;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  &::before {
    top: 1px;
  }

  &::after {
    bottom: -1px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    margin-left: 166px;
  }
}

.page-header--active .main-nav__toggle {
  height: 19px;

  &::before,
  &::after {
    background-color: $basic-grey;
    height: 2px;
  }

  &::before {
    transform: rotate(45deg);
    top: 11px;
  }

  &::after {
    transform: rotate(-45deg);
    bottom: 6px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 9px;
    margin-left: 167px;
  }
}


.main-nav__wrapper {
  flex: auto;

  margin: 0;
  position: absolute;

  .main-nav__list {
    display: none;
  }
}

.page-header--active .main-nav__wrapper {
  margin-top: 66px;
  position: absolute;
  display: block;
  width: 100%;
  background: $basic-white;
  left: 0;
  top: 0;
  z-index: 18;
  padding-top: 49px;

  .main-nav__list {
    display: flex;
  }

  @media (min-width: $tablet-width) {
    margin-top: 85px;
    padding-top: 95px;
  }
}
