.page-header {
  background: url("../../img/globe-back-mobile.jpg") no-repeat $bg-dark-blue;
  color: $basic-white;
  text-transform: uppercase;
}

.page-body--inner .page-header {
  background: $bg-dark-blue;
}

.page-header--active,
.page-header--scroll {
  background-color: $basic-white;
  color: $basic-blue;
}

.main-nav {
  padding: 23px 26px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-nav__toggle {
  display: block;
  position: relative;
  width: 25px;
  height: 11px;
  margin-bottom: 15px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    background-color: $basic-white;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.main-nav__toggle--active {
  height: 19px;

  &::before,
  &::after {
    background-color: $basic-grey;
    height: 2px;
  }

  &::before {
    transform: rotate(45deg);
    top: 11px;
  }

  &::after {
    transform: rotate(-45deg);
    bottom: 6px;
  }
}
