.page-header {
  background: url("../../img/globe-back-mobile.jpg") center top no-repeat $bg-blue;
  color: $basic-white;
  text-transform: uppercase;
}

.page-body--inner .page-header {
  background: $bg-dark-blue;
}

.page-header--active,
.page-header--scroll,
.page-header--nojs {
  background: $basic-white;
  color: $basic-blue;
}
