.page-header {
  background-color: #161c35;
  color: $basic-white;
  text-transform: uppercase;
}

.page-header--active,
.page-header--scroll {
  background-color: $basic-white;
  color: $basic-blue;
}

.main-nav {
  padding: 23px 26px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-nav__toggle {
  display: block;
  position: relative;
  width: 25px;
  height: 11px;
  margin-bottom: 15px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    background-color: $basic-white;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.main-nav__toggle--active {
  height: 19px;

  &::before,
  &::after {
    background-color: $basic-grey;
    height: 2px;
  }

  &::before {
    transform: rotate(45deg);
    top: 11px;
  }

  &::after {
    transform: rotate(-45deg);
    bottom: 6px;
  }
}

.main-nav__wrapper {
  margin-top: 66px;
  flex: auto;
}

.main-nav__wrapper--disable {
  margin: 0;
  position: absolute;

  .site-list,
  .social-list {
    display: none;
  }
}

.site-list {
  @include list-none;
  margin-bottom: 54px;
  text-align: center;
}

.site-list__link {
  @include font(30px, 35px, 500, $basic-blue);
}

.user__button {
  display: block;
  border-radius: 25px;
  padding: 15px;
  padding-bottom: 17px;
  text-align: center;

  &::after {
    border: none;
  }
}

.main-nav__user {
  display: flex;
  flex-direction: column;
}

.contact-list {
  @include list-none;
  margin-top: 38px;
  margin-bottom: 40px;
}

.contact-list__item {
  padding-top: 24px;
  position: relative;
}

.contact-list__link {
  @include font(16px, 18px, 700, $basic-blue);
  position: relative;
  padding-left: 60px;
}

.contact-list__link::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  top: -13px;
  left: -1px;
  border-radius: 50%;
}

.contact-list__link--phone::before {
  background: url("../../img/svg/icon_telephone.svg") center center no-repeat $special-blue;
}

.contact-list__link--mail::before {
  background: url("../../img/svg/icon-mail.svg") center center no-repeat $special-blue;
}

.social-list {
  @include list-none;
  display: flex;
  margin: 14px 84px 20px;
}

.social-list__item:first-child {
  margin-right: 27px;
}

.social-list__item:nth-child(2) {
  margin-right: 26px;
}

.social-list__item:last-child {
  padding-top: 2px;
}

.social-list__button:hover,
.social-list__button:focus {
  opacity: 0.6;
}

.social-list__button:active {
  opacity: 0.3;
}

.user--title {
  position: absolute;
  top: 430px;
  display: flex;
  flex-direction: row;
  left: 1px;
  z-index: 5;

  .user__button {
    order: 2;
    margin-top: 4px;
    padding: 12px 33px 10px 40px;
  }

  .contact-list {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .contact-list__item {
    padding: 0;
  }

  .contact-list__item:last-child {
    padding-left: 40px;
    padding-right: 39px;
  }

  .contact-list__link {
    font-size: 0;
    padding: 0;
  }

  .contact-list__link::before {
    width: 40px;
    height: 40px;
  }

  .contact-list__link--phone {
    &::before {
      background: url("../../img/svg/icon_call.svg") center center no-repeat $basic-orange;
      z-index: 3;
    }

    &:hover::before {
      background-color: $special-orange-dark;
    }

    &:active::before {
      background-image: url("../../img/svg/icon_call--transparent.svg");
    }
  }

  .contact-list__link--mail {
    &::before {
      background: url("../../img/svg/icon-inner-mail.svg") center center no-repeat $special-yellow-dark;
    }

    &:hover::before,
    &:focus::before {
      background-color: $basic-orange;
    }

    &:active::before {
      background-image: url("../../img/svg/icon_mail--transparent.svg");
    }
  }
}
