.page-body {
  padding: 0;
  font-family: "Blogger Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  min-height: 100%;
  min-width: 320px;
  background-image: url("../../img/bg/globe-back.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-color: $bg-blue;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    background-image: url("../../img/bg/globe-back-tablet.png");
    background-position: -235px 382px;
    background-color: #182044;
  }
}

.page-body--center {
  margin: 0 auto;
}
