.page-footer {
  background: $basic-white;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 37px;
}

.page-footer__logo {
  margin-bottom: 49px;
}
