.page-header {
  background: url("../../img/globe-back-mobile.jpg") no-repeat $bg-dark-blue;
  color: $basic-white;
  text-transform: uppercase;
}

.page-body--inner .page-header {
  background: $bg-dark-blue;
}

.page-header--active,
.page-header--scroll {
  background-color: $basic-white;
  color: $basic-blue;
}
