.page-footer {
  background: $basic-white;
}

.page-footer__wrapper {
  padding-bottom: 15px;
  padding-top: 37px;
  display: flex;
  flex-direction: column;


  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px 27px;
  }
}

.page-footer__logo {
  margin-bottom: 35px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__picture img {
  width: 96px;
  height: 100%;

  @media (min-width: $tablet-width) {
    width: 164px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 55px;
  }
}
