.profile-card__wrapper {
  @include wrapper;
}

.profile-card__form {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 15px;
  padding-bottom: 20px;
}

.profile-card__item {
  grid-column: 1/ 3;
  position: relative;
}

.profile-card__photo {
  border-radius: 50%;
  justify-self: center;
}

.profile-card__upload-label {
  @include font(20px, 18px, 500, $bg-blue);
  text-transform: uppercase;
  display: flex;
  appearance: button;
  background-color: $special-button-dark;
  border-radius: 20px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 12px;
  cursor: pointer;
  margin-top: 3px;
  margin-bottom: 21px;

  &:hover,
  &:focus {
    background-color: $inner-button;
  }

  &:active {
    color: rgba($bg-blue, 0.3);
    background-color: $special-button-dark;
  }
}

.profile-card__legend {
  @include font(16px, 18px, 700, $basic-blue-light);
  text-align: center;
  text-transform: uppercase;
  padding: 0 17px;
  position: absolute;
  top: -12px;
  left: 101px;
  background-color: $bg-light-blue;
}

.profile-card__area,
.profile-card__field {
  @include font(16px, 18px, 400, $special-grey);
  border: 1px solid $special-border;
  border-radius: 10px;
  width: 270px;
  background: transparent;
  resize: none;
  outline: none;
  margin: 0;
  padding: 25px 24px 8px;
  font-family: inherit;
  margin-top: -3px;
}

.profile-card__area {
  &:hover {
    border-color: $special-border-light;
  }

  &:focus {
    border-color: $bg-blue;
  }
}

.profile-card__field--transport {
  margin-top: 7px;
  padding: 15px 10px 10px;

  .profile-card__legend {
    top: -1px;
    left: 77px;
  }
}

.profile-card__level {
  position: relative;
  top: 0;
  left: 0;
  grid-column: 1/ 2;
  justify-self: center;
  background-color: transparent;
  text-align: center;
}

.profile-card__level-nubmer {
  @include font(38px, 34px, 700, $bg-blue);
  margin: 12px 22px 0;

  &::after {
    background-color: $special-grey;
    padding: 0 26px;
    border-bottom: 1px solid rgba($special-grey, 0.3);
    margin-top: 5px;
    margin-left: -3px;
  }
}

.profile-card__level-text {
  @include font(18px, 26px, 400, $bg-blue);
  margin-bottom: 12px;
}
