.site-list {
  @include list-none;
  text-align: center;
  flex-direction: column;
  margin-bottom: 54px;

  @media (min-width: $tablet-width) {
    text-align: start;
    margin-left: 97px;
    margin-bottom: 91px;
  }
}

.page-header--nojs .site-list {
  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.site-list__link {
  @include font(30px, 35px, 500, $basic-blue);

  @media (min-width: $tablet-width) {
    @include font(60px, 71px, 500, $basic-blue);
  }
}
