.tags {
  padding: 0;
  list-style-type: none;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.tags__link {
  @include font(16px, 16px, 400, $special-grey);
  padding-right: 3px;

  @media (min-width: $tablet-width) {
    @include font(20px, 23px, 400, $special-grey);
  }
}
