.tips {
  @include font(18px, 18px, 700, $bg-blue);
  background-color: $basic-blue;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.tips__wrapper {
  @include wrapper;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin: 0 40px;
    padding-bottom: 60px;
  }
}

.tips__list {
  @include list-none;
  counter-reset: number;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.tips__item {
  padding: 20px 105px 40px 24px;
  border-radius: 10px;
  margin-top: -16px;
  position: relative;

  &::after {
    @include font(18px, 18px, 700, $basic-white);
    counter-increment: number;
    content: counter(number) "\a0";
    position: absolute;
    font-family: inherit;

    @media (max-width: $mobile-width-only) {
      top: 21px;
      right: 15px;
    }
  }

  &:first-child {
    background-color: $basic-orange;
    margin-top: 0;
  }

  &:nth-child(2) {
    background-color: $basic-orange-light;
  }

  &:nth-child(3) {
    background-color: $special-yellow-dark;
  }

  &:last-child {
    background-color: $basic-yellow;
    padding-bottom: 24px;
  }
}

@media (min-width: $tablet-width) {
  .tips__item {
    @include font(24px, 24px, 700, $bg-blue);
    margin-top: 0;
    padding: 29px 112px 63px 33px;

    &:first-child,
    &:nth-child(3) {
      width: 400px;
      padding-right: 180px;
    }

    &:nth-child(2),
    &:last-child {
      margin-left: -56px;
      width: 344px;
    }

    &:first-child {
      border-radius: 0;
      border-top-left-radius: 20px;
    }

    &:nth-child(2) {
      border-radius: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    &:nth-child(3) {
      border-radius: 0;
      border-bottom-left-radius: 20px;
    }

    &:last-child {
      border-radius: 0;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    &::after {
      font-size: 30px;
      line-height: 30px;
      bottom: 23px;
      left: 33px;
    }
  }
}
