.tooltip {
  visibility: hidden;
  position: absolute;
  top: 135%;
  right: -54px;
  background-color: $special-blue-dark;
  color: white;
  border-radius: 4px;
  text-align: center;
  padding: 16px 21px 19px 20px;
  z-index: 8;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    right: 47%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid $special-blue-dark;
  }
}
