.tooltip {
  visibility: hidden;
  background-color: $special-blue-dark;
  color: white;
  border-radius: 4px;
  text-align: center;
  padding: 16px 21px 19px 20px;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    right: 47%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid $special-blue-dark;
  }
}
