.contact-list {
  @include list-none;
  margin-top: 38px;
  margin-bottom: 40px;
}

.contact-list__item {
  padding-top: 24px;
  position: relative;
}

.contact-list__link {
  @include font(16px, 18px, 700, $basic-blue);
  position: relative;
  padding-left: 60px;
}

.contact-list__link::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  top: -13px;
  left: -1px;
  border-radius: 50%;
}

.contact-list__link--phone::before {
  background: url("../../img/svg/icon_telephone.svg") center center no-repeat $special-blue;
}

.contact-list__link--mail::before {
  background: url("../../img/svg/icon-mail.svg") center center no-repeat $special-blue;
}

.user--title {
  position: absolute;
  top: 430px;
  display: flex;
  flex-direction: row;
  left: 1px;
  z-index: 3;

  .user__button {
    order: 2;
    margin-top: 4px;
    padding: 12px 33px 10px 40px;
  }

  .contact-list {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .contact-list__item {
    padding: 0;
  }

  .contact-list__item:last-child {
    padding-left: 40px;
    padding-right: 39px;
  }

  .contact-list__link {
    font-size: 0;
    padding: 0;
  }

  .contact-list__link::before {
    width: 40px;
    height: 40px;
  }

  .contact-list__link--phone {
    &::before {
      background: url("../../img/svg/icon_call.svg") center center no-repeat $basic-orange;
      z-index: 3;
    }

    &:hover::before {
      background-color: $special-orange-dark;
    }

    &:active::before {
      background-image: url("../../img/svg/icon_call--transparent.svg");
    }
  }

  .contact-list__link--mail {
    &::before {
      background: url("../../img/svg/icon-inner-mail.svg") center center no-repeat $special-yellow-dark;
    }

    &:hover::before,
    &:focus::before {
      background-color: $basic-orange;
    }

    &:active::before {
      background-image: url("../../img/svg/icon_mail--transparent.svg");
    }
  }
}
