.page-header {
  z-index: 2;
  position: relative;
}

.page-main__title {
  z-index: 1;
  position: relative;
}

.about {
  position: relative;
  z-index: 6;
}

.direction {
  position: relative;
  z-index: 5;
}

.companion {
  position: relative;
  z-index: 4;
}

.profile-rate {
  position: relative;
  z-index: 3;
}

.info {
  position: relative;
  z-index: 2;
}

.address {
  position: relative;
}

.page-footer {
  position: relative;
}
