$basic-white: #ffffff;
$basic-black: #000000;
$basic-grey: #cccccc;
$basic-grey-light: #f2f2f2;
$basic-blue: #192144;
$basic-blue-light: #1d2e5b;
$special-blue: #121936;
$special-blue-dark: #101d41;
$special-grey: #444444;
$basic-button: #132576;
$special-button: #f3f4f8;
$special-button-dark: #dfe3f0;
$special-border: #cbced9;
$special-border-invalid: #f47e7e;
$special-border-dark: #d6d9e6;
$special-border-light: #aeb4cb;
$inner-button: #d1d7e9;
$inner-border: #959bb2;
$inner-border-dark: #999999;
$inner-border-light: #e5e5e5;
$light-border: #e1e3e9;
$checkbox: #d9d9d9;
$special-checkbox:#b2b2b2;
$bg-checkbox: #e2e5f1;
$icon-close: #afb0b5;

$bg-light-blue: #edeff6;
$bg-lightness-blue: #e6e8f1;
$bg-dark-blue: #182044;
$bg-blue: #161c35;
$bg-blue-dark: #d4d9eb;
$bg-blue-filter: #e2e5f2;
$bg-blue-button: #d6daed;

$basic-yellow: #ffd74b;
$special-yellow-dark: #ffbd30;
$special-yellow-light: #f3c72b;
$basic-orange: #ff8d30;
$basic-orange-light: #ffa530;
$special-orange-dark: #f26926;
$basic-red: #ff0000;
$basic-orange-dark: #ff5c23;

$card-offline: #f97676;
$card-online: #81e31e;
