@mixin list-none {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin font($font-size, $line-height, $font-weight, $color) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
}

@mixin wrapper {
  margin: 0 25px;
}

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
