@import "global/fonts.scss";
@import "global/color.scss";
@import "global/variables.scss";
@import "global/global.scss";
// Global blocks
@import "blocks/button.scss";
@import "blocks/section.scss";
@import "blocks/page-header.scss";
@import "blocks/dropdown.scss";
@import "blocks/social.scss";
@import "blocks/user.scss";
@import "blocks/footer.scss";
@import "blocks/copyright.scss";
// Index page
@import "blocks/z-index.scss";
@import "blocks/page.scss";
@import "blocks/quote.scss";
@import "blocks/tips.scss";
@import "blocks/about.scss";
@import "blocks/direction.scss";
@import "blocks/companion.scss";
@import "blocks/card.scss";
@import "blocks/level.scss";
@import "blocks/transport.scss";
@import "blocks/profile-rate.scss";
@import "blocks/info.scss";
@import "blocks/address.scss";
@import "blocks/map.scss";
@import "blocks/modal.scss";
// Inner page
@import "blocks/profile-card.scss";
@import "blocks/profile-plan.scss";
@import "blocks/create-plan.scss";
@import "blocks/slider.scss";
