@import "global/fonts.scss";
@import "global/color.scss";
@import "global/variables.scss";
@import "global/global.scss";
// Global blocks
@import "blocks/geometry.scss";
@import "blocks/page-body.scss";
@import "blocks/page-main.scss";
@import "blocks/button.scss";
@import "blocks/section.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/social-list.scss";
@import "blocks/user.scss";
@import "blocks/page-footer.scss";
@import "blocks/footer-social.scss";
@import "blocks/copyright.scss";
@import "blocks/input.scss";
// Index page
@import "blocks/quote.scss";
@import "blocks/tips.scss";
@import "blocks/about.scss";
@import "blocks/direction.scss";
@import "blocks/companion.scss";
@import "blocks/card.scss";
@import "blocks/card-countries.scss";
@import "blocks/tags.scss";
@import "blocks/level.scss";
@import "blocks/transport.scss";
@import "blocks/tooltip.scss";
@import "blocks/profile-rate.scss";
@import "blocks/info.scss";
@import "blocks/address.scss";
@import "blocks/map.scss";
@import "blocks/business-rates.scss";
// Inner page
@import "blocks/profile-card.scss";
@import "blocks/profile-transport.scss";
@import "blocks/profile-plan.scss";
@import "blocks/create-plan.scss";
@import "blocks/slider.scss";
@import "blocks/step.scss";
@import "blocks/calendar.scss";
@import "blocks/choose-country.scss";
@import "blocks/letters.scss";
@import "blocks/choosen-country.scss";
